
@{
    ViewBag.Title = "Accordion";
}

<div style="border:1px solid blue;margin:10px 10px 0 0 ;float:left">
    <h2>Basic Accordion</h2>
    <div class="easyui-accordion" style="width:500px;height:300px;margin-top:20px;">
        <div title="Top Panel" data-options="iconCls:'icon-search',collapsed:false,collapsible:false" style="padding:10px;">
            <input class="easyui-searchbox" prompt="Enter something here" style="width:300px;height:25px;">
        </div>
        <div title="About" data-options="iconCls:'icon-ok',selected:true" style="overflow:auto;padding:10px;">
            <h3 style="color:#0099FF;">Accordion for jQuery</h3>
            <p>Accordion is a part of easyui framework for jQuery. It lets you define your accordion component on web page more easily.</p>
        </div>
        <div title="TreeMenu" data-options="iconCls:'icon-search'" style="padding:10px;">
            <ul class="easyui-tree">
                <li>
                    <span>Foods</span>
                    <ul>
                        <li>
                            <span>Fruits</span>
                            <ul>
                                <li>apple</li>
                                <li>orange</li>
                            </ul>
                        </li>
                        <li>
                            <span>Vegetables</span>
                            <ul>
                                <li>tomato</li>
                                <li>carrot</li>
                                <li>cabbage</li>
                                <li>potato</li>
                                <li>lettuce</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div title="Ajax" data-options="href:'/EasyUi/Content',tools:[{
					iconCls:'icon-reload',
					handler:function(){
						alert('reload');
					}
				}]" style="overflow:auto;padding:10px;">
        </div>
    </div>
</div>
<div style="border:1px solid blue;margin:10px 10px 0 0;float:left">
    <h2>Accordion Actions</h2>
    <div style="margin:20px 0 10px 0;">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="selectPanel()">Select</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="addPanel()">Add</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="removePanel()">Remove</a>
    </div>
    <div id="aa" class="easyui-accordion" style="width:500px;height:300px;">
        <div title="About" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;">
            <h3 style="color:#0099FF;">Accordion for jQuery</h3>
            <p>Accordion is a part of easyui framework for jQuery. It lets you define your accordion component on web page more easily.</p>
        </div>
    </div>
</div>
<div style="border:1px solid blue;margin:10px 10px 0 0;float:left">
    <h2>Multiple Accordion Panels</h2>
    <div style="margin:20px 0 10px 0;"></div>
    <div class="easyui-accordion" data-options="multiple:true" style="width:500px;">
        <div title="Language" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;">
            <p>A programming language is a formal language designed to communicate instructions to a machine, particularly a computer. Programming languages can be used to create programs that control the behavior of a machine and/or to express algorithms precisely.</p>
        </div>
        <div title="Java" style="padding:10px;">
            <p>Java (Indonesian: Jawa) is an island of Indonesia. With a population of 135 million (excluding the 3.6 million on the island of Madura which is administered as part of the provinces of Java), Java is the world's most populous island, and one of the most densely populated places in the world.</p>
        </div>
        <div title="C#" style="padding:10px;">
            <p>C# is a multi-paradigm programming language encompassing strong typing, imperative, declarative, functional, generic, object-oriented (class-based), and component-oriented programming disciplines.</p>
        </div>
        <div title="Ruby" style="padding:10px;">
            <p>A dynamic, reflective, general-purpose object-oriented programming language.</p>
        </div>
        
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        function selectPanel() {
            $.messager.prompt('Prompt', 'Please enter the panel title:', function (s) {
                if (s) {
                    $('#aa').accordion('select', s);
                }
            });
        }
        var idx = 1;
        function addPanel() {
            $('#aa').accordion('add', {
                title: 'Title' + idx,
                content: '<div style="padding:10px">Content' + idx + '</div>'
            });
            idx++;
        }
        function removePanel() {
            var pp = $('#aa').accordion('getSelected');
            if (pp) {
                var index = $('#aa').accordion('getPanelIndex', pp);
                $('#aa').accordion('remove', index);
            }
        }
    </script>
}

