
@{
    ViewBag.Title = "LinkButton";
}

<div class="easyui-panel" style="padding:5px;">
    <a href="#" class="easyui-linkbutton c1" data-options="toggle:true,group:'g1'">Button 1</a>
    <a href="#" class="easyui-linkbutton c2" data-options="toggle:true,group:'g1',selected:true">Button 2</a>
    <a href="#" class="easyui-linkbutton c3" data-options="toggle:true,group:'g1'">Button 3</a>
    <a href="#" class="easyui-linkbutton c4" data-options="toggle:true,group:'g1'">Button 4</a>
    <a href="#" class="easyui-linkbutton c5" data-options="toggle:true,group:'g1'">Button 5</a>
</div>
<div style="margin:20px 0;"></div>
<div class="easyui-panel" style="padding:5px;">
    <a href="#" class="easyui-linkbutton c6" data-options="toggle:true,group:'g2',plain:true">Button 1</a>
    <a href="#" class="easyui-linkbutton c7" data-options="toggle:true,group:'g2',plain:true,selected:true">Button 2</a>
    <a href="#" class="easyui-linkbutton c8" data-options="toggle:true,group:'g2',plain:true">Button 3</a>
    <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true">Button 4</a>
    <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g2',plain:true">Button 5</a>
 
</div>
<div  class="easyui-panel" style="padding:5px 0;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-large-picture',size:'large',iconAlign:'top',toggle:true">Picture</a>
</div>



