
@{
    ViewBag.Title = "进度条滑动";
}
<style>
    .slider{
        margin-top:40px;
    }
</style>
<div style="margin:20px 0;">
    <a href="#" class="easyui-linkbutton" onclick="start()">Start</a>
</div>
<div id="p" class="easyui-progressbar" style="width:400px;"></div>
<div style="margin:20px 0;">
    <input class="easyui-slider" style="width:300px" data-options="showTip:true"/>
</div>
<div style="margin-top:10px;">
    <input class="easyui-slider"  style="width:300px" data-options="showTip: true,
       value:[20,60],
       range:true,
       rule: [0,'|',25,'|',50,'|',75,'|',100],
       tipFormatter: function(value){
       return value+'px';
       },
       onChange: function(value){
         console.log(value);
       }">
</div>
<div id="ss" style="width:200px;"></div>
<div style="margin-top:40px;">
    <input class="easyui-slider" style="height:300px" data-options=
           "showTip: true,
           mode: 'v' ,
           reversed: false,
           rule: [0,'|',25,'|',50,'|',75,'|',100]
           ">
</div>

@* reversed：对调最大值和最小值的位置*@
@section scripts{
    <script>
        $('#ss').slider({
            showTip: true,
            tipFormatter: function (value) {
                return value + '%';
            }
        });
		function start(){
			var value = $('#p').progressbar('getValue');
			if (value < 100){
				value += Math.floor(Math.random() * 10);
				$('#p').progressbar('setValue', value);
				setTimeout(arguments.callee, 200);
			}
            
		};
    </script>

}

