body,p,div,ul,li,tr td {
    margin:0;
    padding:0;
}
a,a:visited{
    outline:none;
}
ul li{
    list-style:none;
}
.header{
    background-color:#E0ECFF;
    width:100%;
    height:100%;
    overflow:hidden;
}
.user_right{
    margin-right:40px;
    margin-top:20px;
    float:right;
    color:#ff6a00;
    font-size:16px;
}
.user_right a{
    margin-left:10px;
     font-size:14px;
}
.content_left{
    width:200px;
    overflow:hidden;
}
.content_right{

    padding:20px;
}



.fitem{
    margin-top:10px;
}

.fitem .error{
    color:red;
    display:none;
}