
@{
    ViewBag.Title = "用户管理";
}

<table id="dg" title="用户列表" class="easyui-datagrid" style="width:600px;height:400px"
       toolbar="#toolbar" data-options="singleSelect:true,collapsible:false,rownumbers:true,url:'/User/GetList',method:'get'">
    <thead>
        <tr>
            <th data-options="field:'RoleName',width:120">角色</th>
            <th data-options="field:'UserName',width:80">昵称</th>
            <th data-options="field:'Account',width:80">账号</th>
            <th data-options="field:'LoginTime',width:150">最后一次登录时间</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <button  class="easyui-linkbutton" iconCls="icon-add" plain="true" id="add">新增</button>
    <button  class="easyui-linkbutton" iconCls="icon-edit" plain="true" id="edit">编辑</button>
    <button  class="easyui-linkbutton" iconCls="icon-remove" plain="true" id="delete">删除</button>
</div>
<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px"
     closed="true" buttons="#dlg-buttons" title="User Information">
    <form id="fm" method="post">
        <input name="Id" type="hidden">
        <div class="fitem">
            <select name="RoleId" label="角色:" class="easyui-combobox" required="true" style="width:100%">
                <option value="1">超级管理员</option>
                <option value="2">管理员</option>
                <option value="3">普通用户</option>
            </select>
        </div>
        <div class="fitem">
            <input name="UserName" label="昵称:"class="easyui-textbox" required="true" style="width:100%">
        </div>
        <div class="fitem">
            <input name="Account" label="帐号:"  class="easyui-textbox" required="true" style="width:100%">
        </div>
        <div class="fitem">
            <input name="Password" label="密码:"  class="easyui-textbox" required="true" style="width:100%">
        </div>
        <div class="fitem">
            <span class="error"></span>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <button  class="easyui-linkbutton" iconCls="icon-ok" id="save">保存</button>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
@section scripts{
    @Html.RenderJs("Scripts/main/user.js")
}


