@{
    Layout = null;
    var key = ViewBag.Key;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <script src="~/Scripts/lib/require.js"></script>
    <script>
        var ar = [];
        var name = '@key';
        ar.push(name);
        require.config({
            baseUrl: "/Scripts/",
            paths: {
                "jquery": "lib/jquery/jquery-1.10.2",
                "validate": "lib/jquery/jquery.validate",
                "easyui": "lib/jquery/jquery.easyui.min",
                "login": "main/login",
                "home_index": "main/home_index",
            },
            shim: {
                "validate": ["jquery"],
                "easyui": ["jquery"],
                "login": ["validate"],
                "home_index":["easyui"]
            },
            urlArgs: "@FrontEndConfig.Instance.Version"

        });
        require(ar,function(r){
            r.init();
        });
    </script>

</body>
</html>
