@{
    Layout = null;
}
<div class="header">
    <a href="/Home/Index">
        <img src="~/Content/images/logo.png"/>
    </a>
    <div class="user_right">
        @if (User.Identity.IsAuthenticated)
        {
            <span>@User.Identity.Name</span>
            <a href="/Account/Logout">退出</a>
        }else
        {
            <span>游客</span>
        }

    </div>
</div>
