
@{
    ViewBag.Title = "我的生活圈";
}
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
<link rel="stylesheet" type="text/css" href="~/Scripts/lib/emoj/normalize.min.css">
@Html.RenderCss("Content/main/life.css")
<link href="~/Scripts/lib/emoj/emojionearea.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Scripts/lib/emoj/font-awesome.min.css" >
<link rel="stylesheet" type="text/css" href="~/Scripts/lib/emoj/tomorrow.css" >
<div class="comment_header">
    <textarea class="txt_content"></textarea>
    <button class="easyui-linkbutton send" id="sendr">发表</button>
</div>
<div id="comment">
</div>
<div class="mycomment" data-id="">
    <textarea class="comment_txt"></textarea>
    <button class="easyui-linkbutton send" id="sendc">评论</button>
</div>
<script type="text/html" id="list_tmpl">
    {{each datas}}
    <div class="comment_item" data-id="${Id}">
        <div class="m10"><span class="name">${UserName}</span><span class="time">${TimeStr}</span></div>
        <p class="m10 comment_content">${Content}</p>
        <div class="count"><button class="m10 btnP">评论(<span class="count_p">${ClickCount}</span>)</button>
        <button class="zan {{if IsLike}} dz {{/if}} ">赞(<span class="like">${LikeCount}</span>)</button></div>
        <div class="comment_list">
         
        </div>
        
    </div>
    {{/each}}
</script>
<script type="text/html" id="comment_tmpl">
    {{each datas}}
    <div class="comment_i" data-id="bb">
        <div class="m10"><span class="name">${UserName}(<span class="time">${TimeStr}</span>)：</span><span class="comment_content">${Content}</span></div>
    </div>
    {{/each}}
</script>

@section scripts{
      <script src="~/Scripts/lib/jquery/jquery.tmpl.js"></script>
      <script src="~/Scripts/lib/emoj/emojionearea.js"></script>
      @Html.RenderJs("Scripts/main/life.js")
}

